@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}


.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-shadow-sm {
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
}
